div {
    margin-bottom: 5px;
    margin-left: 50px;
}

label {
    margin-bottom: 5px;
    margin-left: 50px;
}

.btn-primary {
    width: 300px;

}

.btn-success {
    width: 300px;
    margin-left: 45px;
}

form {
    margin-left: 300px;
}